<div class = 'container-fluid'>
<div class = 'col-md-6 col-md-offset-4'>  
<h2 class = 'col-md-offset-3'>Edit <%= resource_name.to_s.humanize %></h2>
<br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,:multipart => true , class: 'form-horizontal' }) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.email_field :email, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :current_password, class: 'col-sm-5 col-md-pull-3 control-label' %> 
    <div class="col-sm-6 col-md-pull-3">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
</div>

<div class="form-group">
    <%= f.label :password, class: 'col-sm-5 control-label col-md-pull-3 '  %> 
    <div class="col-sm-6 col-md-pull-3">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control',:placeholder => "leave blank if no change"  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-5 col-md-pull-3 control-label" %>
    <div class="col-sm-6 col-md-pull-3">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",:placeholder => "leave blank if no change" %>
    </div>
</div>



<div class="form-group">
    <%= f.label :name, class: "col-sm-5 col-md-pull-3 control-label" %>
    <div class="col-sm-6 col-md-pull-3">
        <%= f.text_field :name, class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :dob, class: "col-sm-5 col-md-pull-3 control-label" %>
    <div class="col-sm-6 col-md-pull-3">
        <%= f.date_field :dob, class: "form-control", order: [:day, :month, :year] %>
    </div>
</div>

<div class="form-group">
    <%= f.label :bio, class: "col-sm-5 col-md-pull-3 control-label" %>
    <div class="col-sm-6 col-md-pull-3">
        <%= f.text_area :bio, class: "form-control",:placeholder => "max 160 characters", maxlength: 160 %>
    </div>
</div>

<div class="form-group">
    <%= f.label :user_name, class: "col-sm-5 col-md-pull-3 control-label" %>
    <div class="col-sm-6 col-md-pull-3">
        <%= f.text_field :user_name, class: "form-control" %>
    </div>
</div>

<div class="form-group">
     <%= f.label :profile_pic, class: "col-sm-5 col-md-pull-3 control-label" %>
   <div class="col-sm-offset-2 col-sm-4 col-md-pull-5">
           <%= f.file_field :avatar %>    
   </div>
</div>

<br/>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block",:notice => "User Updated Successfully" %>
    </div>
</div>

<% end %>
</div>
    <div class = 'col-sm-8'>
    <p><span class="text-danger">Unhappy?</span> <%= button_to  "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    <%# link_to "Back", :back %></p>

    </div>
</div>


