console.log("Follow <%= @msg %>");
alert("bC");

$("#" + <%= @followed_id %> + "f").text("Unfollow");
$("#" + <%= @followed_id %> + "f").attr("class","btn btn-sm btn-warning");
$("#" + <%= @followed_id %> + "f").attr("href","/friends/unfollow?unfollowed_id="+<%= @followed_id%>);
$("#" + <%= @followed_id %> + "f").attr("id",<%= @followed_id%> + "uf");
$("#" + <%= @followed_id %> + "f").addAttr("data-remote",true);
<%# render  %>
//$('.notice').text("Follow <%= @msg %>");

// <a class="btn btn-sm btn-success" data-remote="true" href="/friends/follow?followed_id=2" id="2f">Follow</a>

// <a class="btn btn-sm btn-warning" data-remote="true" href="/friends/unfollow?unfollowed_id=2" id="2uf">Unfollow</a>

// <a class="btn btn-sm btn-warning" href="/friends/unfollow?unfollowed_id=2" id="2uf">Unfollow</a>

// <a class="btn btn-sm btn-warning" data-remote="true" href="/friends/unfollow?unfollowed_id=2" id="2uf">Unfollow</a>