<h1>Friends <small>Check out your buddies and Make some more !</small></h1>
<p></p>

<br>

<div class="container-fluid">
<h3>Followers</h3>
<div class="row">
<table class="table table-stripped col-md-4">
	<tr>
		<th>Sr.No.</th>
		<th>Email</th>
		<th>User Name</th>
		<th></th>
	</tr>
<% i = 0 %>
<% @followers.each do |f| %>
	<tr>
		<td><%= i=i+1 %></td>
		<td><%= link_to f.email ,{:action => "profile", :id => f.id}  %> </td>
		<td><%= f.user_name %></td>
		</td>
	</tr>
<% end %>
</table>
</div>
</div>

<br/><br>

<div class="container-fluid">
<h3>Following</h3>
<div class="row">
<table class="table table-stripped col-md-4">
	<tr>
		<th>Sr.No.</th>
		<th>Email</th>
		<th>User Name</th>
		<th></th>
	</tr>
<% i = 0 %>
<% @following.each do |f| %>
	<tr>
		<td><%= i=i+1 %></td>
		<td><%= link_to f.email ,{:action => "profile", :id => f.id}  %> </td>
		<td><%= f.user_name%></td>
		<!-- <td><%# f.id %></td> -->	
		<td><%= link_to "Unfollow",{:action => "unfollow",:unfollowed_id => f.id}, class: "btn btn-sm btn-warning"%></td>
	</tr>
<% end %>
</table>
</div>
</div>


<br><br><br>
<%= link_to "Make friends",{:action => 'show_all'},class: "btn btn-primary" %>