<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid"> 
  <div class="row">
    <div class="input-group col-lg-6 col-lg-offset-4">
        <%= f.text_field :content,:class => 'form-control' %>
      <span class="input-group-btn">
          <%= f.submit  :class=>"btn btn-primary actions"%>
      </span>
    </div>
  </div>
</div>


<% end %>


