<div class="panel panel-info container-fluid tweet">
  <div class="panel-heading row">
    <h3 class="panel-title col-md-4"><%= link_to tweet.user.email,my_friend_path(id: tweet.user.id) %></h3>
    <div class = 'col-md-8 text-right'>
     <div class="col-md-5 col-md-offset-4">
       <small><em><%=distance_of_time_in_words_to_now(tweet.created_at)%> ago</em></small>
       
       
     </div>
      <div class="col-md-1">
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,my_tweet_path('me',tweet.id),title: "View" %>
      </div>
      <div class="col-md-1">
      <%if tweet.user_id == @current_user.id %>
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe,edit_my_tweet_path('me',tweet.id),title:"Edit" %>
      <% end %>
      </div>
     <div class="col-md-1">
        <% if tweet.user_id == @current_user.id %>
         <%= link_to '<span aria-hidden="true">&times;</span><span class="sr-only">Close
              </span>'.html_safe, user_tweet_path(current_user,tweet),method: :delete, data: { confirm: "Are you sure?" },:class => "close", title: "Delete" %> 
        <% end %>
     </div>
    </div>
  </div>

  <div class="panel-body wrap_word">
    <%=tweet.content %>
  </div>
  <div class='col-md-4 text-left likes'>
    <small>
      <div class="col-xs-3">
          <%= link_to "#{pluralize tweet.reputation_for(:votes).to_i,"Like"}",{:controller => "tweets",action: "likes",tweet_id: tweet.id },:data => {toggle:"modal",target: "#myModal"},class: "btn btn-link btn-sm",id: "#{tweet.id}likes", remote: true %>
      </div>
      <div class="col-xs-5" id="<%= tweet.id %>vote_link">
         <% if current_user.voted_for?(tweet) %>
            <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span> Unlike'.html_safe, vote_user_tweet_path(tweet,tweet.id,type:"Unlike"),method: "post",class: "btn btn-link btn-sm",remote: true %>
         <%else%>
             <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span> Like'.html_safe, vote_user_tweet_path(tweet,tweet.id,type:"Like"),method: "post",class: "btn btn-link btn-sm",remote: true %>
         <%end%>
       </div>
      </small>

  </div>

</div>