<%= link_to "Make friends",users_path,class: "btn btn-primary" if !@followers.nil? %>

<div class="user_wrapper mt30">
	<div class="container-fluid border-shadow">
		<h3>
			<%= 'Followers' if !@followers.nil? %>
			<%= 'Following' if !@following.nil? %>
		</h3>
		<div class="row">
			<table id="followers_table" class="table table-stripped col-md-4">
				<tr>
					<th>Sr.No.</th>
					<th>Email</th>
					<th>User Name</th>
				</tr>
				<% i = 0 %>
				
				<% @followers.each do |f| %>
					<tr>
						<td><%= i=i+1 %></td>
						<td><%= link_to f.email, user_path(f)  %> </td>
						<td><%= f.user_name %></td>
						</td>
					</tr>
				<% end if @followers.present? %>

				<% @following.each do |f| %>
					<tr>
						<td><%= i=i+1 %></td>
						<td><%= link_to f.email ,user_path(f)  %> </td>
						<td><%= f.user_name %></td>
						<td><%= link_to "Unfollow",unfollow_user_path(f), class: "btn btn-sm btn-warning"%></td>
						</td>
					</tr>
				<% end if @following.present? %>
			</table>
		</div>
	</div>
</div>