<h3>All Users</h3>

<% if @users.length == 0 %>
	<p class="text-warning text-center">
		No user found
		<% if params[:search] %>
			by name '<%= params[:search] %>'
		<% end %>
	</p>
<% else %>
	<div class="container-fluid border-shadow bg-white">
		<div class="row-fluid">
			<table class="table table-stripped col-md-4" id="users_table">
				<tr>
					<th>Sr.No.</th>
					<th>Name</th>
					<th>Username</th>
					<th></th>
				</tr>
				<% i = 0 %>
				<% @users.each do |u| %>
					<tr>
						<td><%= i=i+1 %></td>
						<td><%= link_to u.email,user_path(u.id) %></td>
						<td><%= u.user_name %></td>
						<td>					
							<% if current_user != u %>
								<% if current_user.following?(u) %>
									<%= link_to "Unfollow",relate_user_path(u.id,type: 'unfollow'),class: "btn btn-xs btn-warning unfollow",id: u.id.to_s + "uf" %>
								<% else %>
									<%= link_to " &nbsp;&nbsp;Follow&nbsp;&nbsp;".html_safe,relate_user_path(u.id,type: 'follow'), class: "btn btn-xs btn-success follow",id: u.id.to_s + "f" %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %> 
			</table>
		</div>
	</div>
<% end %>