<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-10 col-md-offset-1">
  		<div class="panel panel-info">
				<div class="panel-body container-fluid">
					<h4>User Profile</h4>
					<div class="row-fluid">
		    		<div class="col-md-3">
		    			<%= profile_pic_tag @user.profile_picture.file.url(:medium) %>
		    		</div>
						<div class="col-md-9">
		        	<h4><%= @user.name %> <small><%= @user.email%></small></h4>
		        	<p><small>@<%= @user.user_name %></small></p>
			        <dl class="well">
							  <dt>Bio</dt>
							  <dd><%= @user.bio %></dd>
							</dl>
			        <p><%= @user.dob %></p>
        			<%= link_to 'Edit', edit_user_registration_path , class: "btn btn-default pull-right" if @user == current_user %>
     				</div>
	   			</div>
				</div>
  		</div>
  	</div>
  </div>
</div>