<div class="well">
  <div class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">
      <h4><%= @user.user_name%></h4>
      <% if @user.name %>
        <p><strong>Name: </strong> <%= @user.name%></p>
        <% end %>
      <% if @user.dob %>
        <p><strong>DOB: </strong><%= @user.dob%></p>
        <% end %>
      <% if @user.email %>
        <p><strong>Email: </strong><%= @user.email%></p>
        <% end %>
      <% if @user.bio %>
        <p><strong>Bio: </strong><%= word_wrap(@user.bio, :line_width => 20) %></p>
        <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  <%= paginate @tweets,:theme => 'twitter-bootstrap-3',
         :pagination_class => "pagination-small pagination-centered"%>
    <% @tweets.each do |tweet| %>
      <div class="panel panel-info container-fluid">
        <div class="panel-heading row">
              <h3 class="panel-title col-md-4"><%=@user.email%></h3>
                  <div class = 'col-md-8 text-right'>
                            <div class="col-md-11">
                                  <%= distance_of_time_in_words_to_now(tweet.created_at)%> ago
                            </div>
                  </div>
        </div>
              <div class="panel-body overflow-x">
                <%=tweet.content %>
              </div>
      </div>
    <%end%>
  </div>
</div>
                          
   
