 <div class="jumbotron">
  <div class="container-fluid">
	 <div class="container">
	          <div class="row">
	            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
	                           
	               <div class="col-md-12">
	                    <div class="col-md-12 wrap"> 
	                        <p><strong>User Name: </strong><%= current_user.user_name%></p>
                         <% if current_user.name %>
	                        <p><strong>Name: </strong> <%= current_user.name %></p>
	                      <% end %>
	                        <p><strong>DOB: </strong><%= current_user.dob%></p>
	                        <p><strong>Email: </strong><%= current_user.email%></p>
	                        <p><strong>Bio: </strong><%= current_user.bio%></p>
	                    </div>             
	                </div> 

	                <div class="col-xs-12 divider text-center">
	                          <div class="col-xs-12 col-sm-4 emphasis">
	                              <h2><strong><%= current_user.followers.count%></strong></h2>                    
	                              <p><small>Followers</small></p>
	                          </div>
	                          <div class="col-xs-12 col-sm-4 emphasis">
	                              <h2><strong><%= current_user.following.count%></strong></h2>                    
	                              <p><small>Following</small></p>
	                          </div>
	                           <div class="col-xs-12 col-sm-4 emphasis">
	                             <h2><strong><%= current_user.tweets.count%></strong></h2>                    
	                             <p><small>Tweets</small></p>
	                         </div>           
	                </div>  


	          </div>
	    </div>
	  </div>
   </div>
</div>