<h1>List of Things</h1>
<div class="danger text-danger backbone_errors"></div>
<div class="table-responsive">
	<table id="things_table_backbone" class="table table-hover table-stripped border-shadow bg-white">
		<tr>
	   		<th>Name</th>
	   		<th>Category</th>
	   		<th></th>
	   		<th></th>
	   		<th></th>
	   </tr>
		<% for(var i = 0; i < things.length; i++) {%>
			<tr data-thing-id="<%= things[i].id %>" id="thing_<%= things[i].id %>_backbone">
		   		<td><%= things[i].name %></li></td>
		   		<td><%= things[i].category %></li></td>
		   		<td><a class="btn btn-sm btn-primary" href="/backbone/things/show/<%= things[i].id %>">Show</a></td>
		   		<td><a class="btn btn-sm btn-success" href="/backbone/things/update/<%= things[i].id %>">Update</a></td>
		   		<td><a class="btn btn-sm btn-danger delete">Delete</a></td>
			</tr>
		<% } %>
	</table>
</div>



