<%= link_to 'All Images',user_images_path('me'), class: 'btn btn-link' %> |
<%= link_to 'Edit',edit_user_image_path('me', @picture), class: 'btn btn-link' %>

<p>name : <%= @picture.file_file_name %></p>
<p>size : <%= @picture.file_file_size %></p>
<p>image_type : <%= @picture.image_type %></p>
<p>folder : <%= @picture.folder %></p>

<%= image_tag @picture.file.url,class: 'img-thumbnail' %>