<%= link_to 'All Images',user_images_path('me'), class: 'btn btn-link' %> |
<%= link_to 'Edit',edit_user_image_path('me', @image), class: 'btn btn-link' %>

<p>name : <%= @image.file_file_name %></p>
<p>size : <%= @image.file_file_size %></p>
<p>image_type : <%= @image.image_type %></p>
<p>folder : <%= @image.folder %></p>

<%= image_tag @image.file.url,class: 'img-thumbnail' %>