<!DOCTYPE html>
<html>
    <head>
        <title>Amura Buzz</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag 'amura.png' %>
    </head>
    <body>
        <%= render "partials/navbar",:current_user => current_user %>

        <div class="row-fluid">
            <div class="col-md-3" id="sidebar">
                <%= render "partials/sidebar" %>
            </div>
            <div class="col-md-6" id="main_body">
                <%= yield %>
            </div>
        </div>

        <div id="spinner">
        <%= image_tag 'spinner.gif' %>
        </div>

        <%= render "partials/footer" %>

        <%= render "partials/tweet_modal" %>


        <% javascript_tag do %>
          <% if notice.present? %>
              Amura.global_success_handler(<%= notice %>);
          <% end %>
          <% if alert.present? %>
              Amura.global_error_handler(<%= alert %>);
          <% end %>
        <% end %>

    </body>
</html>
